{% extends "base.html" %}
{% block content %}
    {% with alerts = get_flashed_messages() %}
        {% if alerts %}
            {% for alert in alerts %}
                <div class="alert alert-danger">
                {{ alert }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="jumbotron text-center" style="background-color: #b0e4ff">
        <h1>Find Contact Info</h1>
        <p></p>
        <h2>Phone Numbers & Emails</h2>
        <p></p>
        <h4>Submit below</h4>
    </div>
    <p></p>
    <form method="POST">
        <textarea name="text" class="form-control" placeholder="Add your text here..." rows="6"></textarea>
        <p></p>
        <div class="text-center">
            <input type="submit" class="btn btn-primary">
            <input type="reset" value="Clear" class="btn btn-info">
        </div>
    </form>

{% endblock %}
